<form method="post" action="/new">
  <label for="content">Add a new document</label>
  <div>
    <textarea name="filename" id="content" rows="1" cols="15"></textarea>
  </div>
  <button type="submit">Create Document</button>
</form>