<form method="post" action="/users/signin">
  <label for="content">Username</label>
  <div>
    <textarea name="username" id="content" rows="1" cols="15"></textarea>
  </div>
  <label for="content">Password</label>
  <div>
    <textarea name="password" id="content" rows="1" cols="15"></textarea>
  </div>
  <button type="submit">Sign In</button>
</form>